<div class="section intro">
        <div class="section-window intro">
            
            <div class="title">
                <div class="title-header" data-aos="fade-up" data-aos-delay="0">Say </div>
                <div class="title-header" data-aos="fade-up" data-aos-delay="50">Hello </div>
                <div class="title-header" data-aos="fade-up" data-aos-delay="100">To </div>
                <br>
                <div class="fade-up-out title-item" data-aos-offset="500" data-aos>
                    <div class="title-header" data-aos="fade-up" data-aos-delay="500" data-aos-offset="0">A </div>
                    <div class="colors-text title-header" data-aos="fade-up" data-aos-delay="500" data-aos-offset="0">Creator.</div>
                </div>
                <div class="fade-up-out title-item" data-aos-offset="750" data-aos>
                    <div class="title-header" data-aos="fade-up" data-aos-offset="500">A </div>
                    <div class="colors-text title-header" data-aos="fade-up" data-aos-offset="500">Day Dreamer.</div>
                </div>
                <div class="fade-up-out title-item" data-aos-offset="1000" data-aos>
                    <div class="title-header" data-aos="fade-up" data-aos-offset="750">A </div>
                    <div class="colors-text title-header" data-aos="fade-up" data-aos-offset="750">Thing-Maker.</div>
                </div>
                <div id="name" data-aos="fade-up" data-aos-offset="1000">Bradley Freedman.</div>
                <div id="intro-arrow" data-aos="fade-in" data-aos-delay="3000"> 
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-chevron-down" width="64" height="64" viewBox="0 0 24 24" stroke-width="1" stroke="#989D98" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <polyline points="6 9 12 15 18 9" />
                </svg></div>
               
            </div>
        </div>
    </div>