:root {
    --system-red: rgb(255, 69, 58);
    --system-orange: rgb(255, 159, 10);
    --system-yellow: rgb(255, 214, 10);
    --system-green: rgb(48, 209, 88);
    --system-mint: rgb(102, 212, 207);
    --system-teal: rgb(64, 200, 224);
    --system-cyan: rgb(100, 210, 224);
    --system-blue: rgb(10, 132, 255);
    --system-indigo: rgb(94, 92, 230);
    --system-purple: rgb(191, 90, 242);
    --system-pink: rgb(255, 55, 95);
    --system-brown: rgb(172, 142, 104);
    --system-gray: rgb(152, 152, 157);
}